
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>USER HOME PAGE</h1>
<br />
<br />
<h2>WELCOME..CLICK YOUR CHOICE</h2>

<div>@Html.ActionLink("BACK TO HOME PAGE", "UserHome", "Login")</div>
<div>@Html.ActionLink("SEARCH FOR JOBS", "searchjob_pageload", "SearchJob")</div>




